body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    padding: 4%;
    text-align: center;
}

h1 {
    font-family: Source Code Pro;
    color: #16222A ;
}

p {
    font-family: Source Code Pro;
    color: #16222A ;
}

.button {
    font-family: Source Code Pro;
    color: black;
}

.transparentbtn {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}

.transparentbtn {
    font-family: Source Code Pro;
    color: black;
    cursor:pointer;
    transition: 150ms ease;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
}

button:hover{
    scale: 1.5;
    background-position: right center;
}