body{
    background: rgb(22,23,23);
    background: linear-gradient(90deg, rgba(22,23,23,0.7959558823529411) 0%, rgba(30,197,255,0.7147233893557423) 100%, rgba(116,116,116,0.5018382352941176) 100%);
    padding: 12% 10%;
}

h1 {
    font-family: Source Code Pro;
    color: white;
}

h3 {
    font-family: Source Code Pro;
    color: rgb(226, 223, 210);
}

.button {
    font-family: Source Code Pro;
    color: black;
    cursor:pointer;
    transition: 150ms ease;
}

button:hover{
    scale: 1.5;
}

h4 {
    font-family: Source Code Pro;
    color: rgb(226, 223, 210);
}

.wrapper {
    text-align: center;
}

.discordbtn {
    font-family: Source Code Pro;
    color: black;
    position: absolute;
    top: 50%;
    cursor:pointer;
    transition: 150ms ease;
}

.transparentbtn {
    font-family: Source Code Pro;
    color: black;
    cursor:pointer;
    transition: 150ms ease;
    padding: 10
}
